---
layout: default
title: Events
permalink: /events/
---
<section class="events-page">
    <div class="events-page__background-img-container">
        <picture>
            <source srcset="../static/images/events_page/events_page_top_480x150px.jpg 480w,
                            ../static/images/events_page/events_page_top_960x300px.jpg 960w,
                            ../static/images/events_page/events_page_top_1920x600px.jpg 1920w"
                    media="(orientation: landscape)"
                    sizes="100vw">
            <source srcset="../static/images/events_page/events_page_top_750x650px.jpg 750w,
                            ../static/images/events_page/events_page_top_1650x1100px.jpg 1650w"
                    media="(orientation: portrait)"
                    sizes="100vw">
            <img class="events-page__background-img"
                 src="../static/images/events_page/events_page_top_960x300px.jpg"
                 alt="Events">
        </picture>
        <div class="events-page__title-container row container-fluid">
            <div class="col-sm-12">
                <h1 class="events-page__page-title">Events</h1>
                <h2 class="events-page__page-subtitle">Find Out What We Do</h2>
            </div>
        </div>
    </div>

    <div class="events-page__outer-container container-fluid">
        <div class="row">
            <div class="col-12">
                <h2 class="events-page__upcoming-section-title">Upcoming Events</h2>
                {% include events_array_generator.html future_events = true %}
                {% for post in posts %}
                    {% include event_layout.html post = post %}
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="events-page__outer-container container-fluid">
        <div class="row">
            <div class="col-12">
                <h2 class="events-page__recent-section-title">Recent Events</h2>
                {% include events_array_generator.html %}
                {% for post in posts %}
                    {% include event_layout.html post = post %}
                {% endfor %}
            </div>
        </div>
    </div>
    </section>