---
layout: default
---

<!--Title image will be set to display:none and used as a background image on the div below-->
<div class="navigation__content container-fluid" data-image-type="responsive">
    <picture>
        <source srcset="static/images/title_photo/title_glass_building_480x270.jpg 480w,
                        static/images/title_photo/title_glass_building_960x540.jpg 960w,
                        static/images/title_photo/title_glass_building_1334x750.jpg 1334w,
                        static/images/title_photo/title_glass_building_1920x1080.jpg 1920w,
                        static/images/title_photo/title_glass_building_2562x1442.jpg 2562w,
                        static/images/title_photo/title_glass_building_3840x2160.jpg 3840w"
                media="(orientation: landscape)"
                sizes="100vw">
        <source srcset="static/images/title_photo/title_glass_building_750x1334.jpg 750w,
                        static/images/title_photo/title_glass_building_1080x1920.jpg 1080w,
                        static/images/title_photo/title_glass_building_1125x2436.jpg 1125w,
                        static/images/title_photo/title_glass_building_1242x2436.jpg 1242w,
                        static/images/title_photo/title_glass_building_1442x2562.jpg 1442w,
                        "
                media="(orientation: portrait)"
                sizes="100vw">
        <img class="responsive" src="static/images/title_photo/title_glass_building_960x540.jpg" alt="Python Sprints Title Image">
    </picture>

    <div class="row">
        <div class="col-md-12">
            <h1 class="navigation__title">Python Sprints</h1>
            <h2 class="navigation__subtitle"><em>The World Is Waiting For Your Code</em></h2>
        </div>
    </div>
</div>

<!--Mission section-->
<section class="mission">
    <div class="mission container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h2 class="section-title">Our Mission</h2>
                <h3 class="mission__statement">Contribute to open source projects.</h3>
                <h3 class="mission__statement">Grow the Python community.</h3>
                <h3 class="mission__statement">Provide mentorship and challenge for people of all backgrounds and skills.</h3>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="row container">
        <div class="col-md-12">
            <!--Upcoming Events section-->
            <!--Create array of future events-->
            {% assign upcoming_events = "" | split: ',' %}
            {% assign curDate = site.time | date: "%s" %}
            {% for post in site.posts %}
                {% assign postStartDate = post.date | date: "%s" %}
                {% if postStartDate >= curDate %}
                    {% assign upcoming_events = upcoming_events | push: post %}
                {% endif %}
            {% endfor %}

            <!--Test data passed from future posts/events-->
            {% assign post = upcoming_events | last %}
                <h1>Event: {{ post.title }}</h1>
                <h1>Venue: {{ post.venue }}</h1>
                <h1>Date: {{ post.date | date: "%e %B %Y" }}</h1>
                <a href="{{ post.link }}">test link</a>
        </div>
    </div>
</section>


<!--Events in the past section-->
{% include event.html %}

<!--Services section-->
<section class="services">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h2 class="section-title">What Do We Do?</h2>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="second-on-mobile no-gutters__col col-md-6">
            <img class="services__img img-fluid rounded" src="static/images/services/educating_devs_840x561px.jpg">
        </div>
        <div class="first-on-mobile no-gutters__col col-md-6">
            <h2 class="services__title text-right">Helping Beginners To Get Good</h2>
            <hr class="services__divider-right">
            <p class="services__content text-right">We are open to people who just started to program and need guidance and mentorship. We can help you become a better programmer by collaborating with others and reading loads of code. Come and try it - you will not be disappointed. We normally have a mixture of seasoned and new coders during every sprint so advice is literally at hands reach.</p>
        </div>
    </div>

    <div class="row">
        <div class="no-gutters__col col-md-6">
            <h2 class="services__title text-left">Engaging Core Developers</h2>
            <hr class="services__divider-left">
            <p class="services__content text-left">For those of you who are programming on the advanced level there are always new tasks to test your mettle. We fix bugs, we improve implementations and add features. No matter your style you will be able to find a ticket to your liking. The sprints are always advertised well ahead of the time so you can prepare yourself by checking on the issues that will be worked on early enough.</p>
        </div>
        <div class="no-gutters__col col-md-6">
            <img class="services__img img-fluid rounded" src="static/images/services/advanced_lvl_840x560px.jpg">
        </div>
    </div>
</section>