---
layout: default
---
{% include inline_style_index.html %}
<div class="navigation__content container-fluid">
    <picture>
        <source srcset="static/images/title_photo/title_glass_building_480x270.jpg 480w,
                        static/images/title_photo/title_glass_building_960x540.jpg 960w,
                        static/images/title_photo/title_glass_building_1334x750.jpg 1334w,
                        static/images/title_photo/title_glass_building_1920x1080.jpg 1920w,
                        static/images/title_photo/title_glass_building_2562x1442.jpg 2562w,
                        static/images/title_photo/title_glass_building_3840x2160.jpg 3840w"
                media="(orientation: landscape)"
                sizes="100vw">
        <source srcset="static/images/title_photo/title_glass_building_750x1334.jpg 750w,
                        static/images/title_photo/title_glass_building_1080x1920.jpg 1080w,
                        static/images/title_photo/title_glass_building_1125x2436.jpg 1125w,
                        static/images/title_photo/title_glass_building_1242x2436.jpg 1242w,
                        static/images/title_photo/title_glass_building_1442x2562.jpg 1442w"
                media="(orientation: portrait)"
                sizes="100vw">
        <img class="navigation__background-img"
             src="static/images/title_photo/title_glass_building_960x540.jpg"
             alt="Python Sprints Title Image">
    </picture>

    <div class="navigation__title-container row container-fluid">
        <div class="col-md-12">
            <h1 class="navigation__title">Python Sprints</h1>
            <h2 class="navigation__subtitle"><em>The World Needs Your Code</em></h2>
        </div>
    </div>
</div>

<!--Mission section-->
<section class="mission">
    <div class="mission container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h2 class="section-title">Our Mission</h2>
                <h3 class="mission__statement">Contribute to open source projects.</h3>
                <h3 class="mission__statement">Grow the Python community.</h3>
                <h3 class="mission__statement">Provide mentorship and challenge for people of all backgrounds and skills.</h3>
            </div>
        </div>
    </div>
</section>

<!--Upcoming Events section-->
{% if upcoming_event == true %}
    <section class="upcoming">
        <div class="row container-fluid">
            <hr class="upcoming-divider">
            <div class="upcoming__img-container col-md-12 no-padding-x">
                <div class="row">
                    <div class="col-12 no-padding-x">
                        <h2 class="upcoming__title">Upcoming Event</h2>
                    </div>
                </div>
                <div class="upcoming__content row with-padding-x">
                    <div class="upcoming__col col-md-5 col-12 mr-auto">
                        <div class="row">
                            <div class="no-gutters__col col-6">
                                <h2 class="upcoming__event-label">Event</h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="upcoming__event-title col-12">
                                {{ post.title }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="no-gutters__col col-6">
                                <h2 class="upcoming__event-label">Venue</h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="upcoming__event-title col-12">
                                {{ post.venue }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="no-gutters__col col-6">
                                <h2 class="upcoming__event-label">Date</h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="upcoming__event-title col-12">
                                {{ post.date | date: "%e %B %Y" }}
                            </div>
                        </div>
                        {% if post.project_logo %}
                            <div class="row">
                                <div class="no-gutters__col col-6">
                                    <h2 class="upcoming__event-label">Project</h2>
                                </div>
                            </div>
                            <div class="row">
                                <div class="upcoming__event-title col-12 text-center">
                                    <a href="{{ post.project_link }}">
                                        <img class="upcoming__project-logo"
                                             src="{{ site.baseurl }}/{{ post.project_logo }}"
                                             alt="Upcoming project logo">
                                    </a>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    <div class="upcoming__col col-md-5 text-center">

                         <div class="row">
                            <div class="no-gutters__col col-6">
                                <h2 class="upcoming__event-label">Sponsors</h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="upcoming__sponsor-col col-12">
                                {% assign site_sponsors_all = "" | split: ',' %}
                                {% for sponsor in site.sponsors %}
                                    {% assign site_sponsors_all = site_sponsors_all | push: sponsor %}
                                {% endfor %}
                                <!--Build an array of sponsors for the event.-->
                                {% assign event_sponsors = "" | split: ',' %}
                                {% for sponsor in post.sponsors %}
                                    {% for site_sponsor in site_sponsors_all %}
                                        {% if site_sponsor.sponsor_id == sponsor %}
                                            {% assign event_sponsors = event_sponsors | push: site_sponsor %}
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                                {%
                                    include row_display_outer_loop.html
                                    items_array = event_sponsors
                                    inner_layout = "sponsors_inner_layout.html"
                                %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="upcoming__button-row row">
                    <div class="col-md-12 text-center">
                        {% if post.event_link %}
                            {% assign upcoming_event_link = post.event_link %}
                        {% else %}
                            {% assign upcoming_event_link = post.meetup_link %}
                        {% endif %}
                        <a class="upcoming__link" href="{{ upcoming_event_link }}">
                            <button class="button-standard btn btn-lg">
                                Learn More
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endif %}

<!--Events in the past section-->
{% include recent_events_section.html %}

<!--Services section-->
<section class="services">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h2 class="services__section-title">What Do We Do?</h2>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="second-on-mobile no-gutters__col col-md-6">
            <img class="services__img img-fluid rounded"
                 src="static/images/services/educating_devs_840x561px.jpg"
                 alt="Educating developers">
        </div>
        <div class="first-on-mobile no-gutters__col col-md-6">
            <h2 class="services__title text-right">Helping Beginners To Get Good</h2>
            <hr class="services__divider-right">
            <p class="services__content text-right">We are open to people who just started to program and need guidance and mentorship. We can help you become a better programmer by collaborating with others and reading loads of code. Come and try it - you will not be disappointed. We normally have a mixture of seasoned and new coders during every sprint so advice is literally at hands reach.</p>
        </div>
    </div>

    <div class="row">
        <div class="no-gutters__col col-md-6">
            <h2 class="services__title text-left">Engaging Core Developers</h2>
            <hr class="services__divider-left">
            <p class="services__content text-left">For those of you who are programming on the advanced level there are always new tasks to test your mettle. We fix bugs, we improve implementations and add features. No matter your style you will be able to find a ticket to your liking. The sprints are always advertised well ahead of the time so you can prepare yourself by checking on the issues that will be worked on early enough.</p>
        </div>
        <div class="no-gutters__col col-md-6">
            <img class="services__img img-fluid rounded"
                 src="static/images/services/advanced_lvl_840x560px.jpg"
                 alt="Core developers in action">
        </div>
    </div>
</section>