<footer class="footer">
    <div class="row container-fluid">
        <div class="col-md-3 text-center">
            <h2 class="footer__section-title">Find Us Online</h2>
            <hr class="footer__divider">
            <a href="https://www.meetup.com/Python-Sprints/" target="_blank"><i class="footer__icon fab fa-meetup"></i></a>
            <a href="https://twitter.com/py_sprints" target="_blank"><i class="footer__icon fab fa-twitter"></i></a>
        </div>
        <div class="col-md-6">
            <h2 class="footer__section-title">Our Sponsors</h2>
            <hr class="footer__divider">
            {% comment %}
                Assume number of sponsors is even. We are going to create rows of 2 sponsors in each.
                If not even the last row must contain 1 sponsor and be terminated with appropriate tags.
            {% endcomment %}

            {% assign num_of_sponsors_even = true %}
            {% assign sponsors = "" | split: ',' %}
            {% for sponsor in site.sponsors %}
                {% assign sponsors = sponsors | push: sponsor %}
            {% endfor %}
            {% assign num_of_sponsors = sponsors | size %}
            {% if num_of_sponsors | modulo: 2 > 0 %}
                {% assign num_of_sponsors_even = false %}
            {% endif %}
            {% assign num_of_rows = num_of_sponsors | divided_by: 2 | floor %}
            {% assign items_per_row = 1 %}

            {% for row in (0..num_of_rows) %}
                {% if forloop.last == true and num_of_sponsors_even == false %}
                    {% assign items_per_row = 0 %}
                {% endif %}
                <div class="row">
                    {% for col in (0..items_per_row) %}
                        {% assign sponsor_index = row | times: 2 | plus: col %}
                        {% assign sponsor = sponsors[sponsor_index] %}
                        <div class="footer__sponsor-col col-md-12 col-lg-6">
                            <a class="footer__sponsor-link" href="{{ sponsor.sponsor_link }}">
                                <img class="footer__img" src="{{ site.baseurl }}/{{ sponsor.sponsor_logo }}">
                            </a>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
        <div class="col-md-3">
            <h2 class="footer__section-title">Python Sprints</h2>
            <hr class="footer__divider">
            <a class="footer__link" href="#" target="_blank">About</a>
            <a class="footer__link" href="#" target="_blank">Getting Started</a>
            <a class="footer__link" href="#" target="_blank">Projects</a>
            <a class="footer__link" href="#" target="_blank">Contact</a>
            <a class="footer__link" href="#" target="_blank">Credits</a>
        </div>
    </div>

    <div class="footer__content row container-fluid">
        <div class="col-md-12">
            <p class="footer__text-copyright">
                © Copyright
                <script>document.write(new Date().getFullYear())</script>
                - Python Sprints
                <img class="footer__brand-img" src="{{ site.baseurl }}/static/images/site_logo/python_sprints_logo.png" alt="Python Sprints Logo">
            </p>
        </div>
    </div>
</footer>