<footer class="footer">
    <div class="row">
        <div class="col-md-4 text-center">
            <p class="section-content footer__text">Find Us Online</p>
            <hr class="footer__divider">
            <a href="https://www.meetup.com/Python-Sprints/" target="_blank"><i class="footer__icon fab fa-meetup"></i></a>
            <a href="https://twitter.com/py_sprints" target="_blank"><i class="footer__icon fab fa-twitter"></i></a>
        </div>
        <div class="col-md-4">
            <p class="section-content footer__text">Our Sponsors</p>
            <hr class="footer__divider">
            <div class="row">
                <div class="footer__sponsor-col col-lg-6">
                    <a class="footer__sponsor-link" href="https://www.python.org/psf/">
                        <img class="footer__img" src="{{ site.baseurl }}/static/images/sponsors/python_software_foundation.png">
                    </a>
                    <a class="footer__sponsor-link" href="https://www.linkedin.com/in/hamishpitkeathly/">
                        <img class="footer__img" src="{{ site.baseurl }}/static/images/sponsors/harvey_nash.png">
                    </a>
                </div>
                <div class="footer__sponsor-col col-lg-6">
                    <a class="footer__sponsor-link" href="https://www.touchsurgery.com/jobs.html">
                        <img class="footer__img" src="{{ site.baseurl }}/static/images/sponsors/touch_surgery.png">
                    </a>
                    <a class="footer__sponsor-link" href="https://www.bloomberg.com/careers/">
                        <img class="footer__img" src="{{ site.baseurl }}/static/images/sponsors/bloomberg.png">
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <p class="section-content footer__text">Python Sprints</p>
            <hr class="footer__divider">
            <a class="footer__link" href="#" target="_blank">About</a>
            <a class="footer__link" href="#" target="_blank">Getting Started</a>
            <a class="footer__link" href="#" target="_blank">Projects</a>
            <a class="footer__link" href="#" target="_blank">Contact</a>
            <a class="footer__link" href="#" target="_blank">Credits</a>
        </div>
    </div>

    <div class="footer__content row container-fluid">
        <div class="col-md-12">
            <p class="section-content footer__text-copyright">
                © Copyright
                <script>document.write(new Date().getFullYear())</script>
                - Python Sprints
                <img class="footer__brand-img" src="{{ site.baseurl }}/static/images/site_logo/python_sprints_logo.png" alt="Python Sprints Logo">

            </p>
        </div>
    </div>
</footer>