<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
          content="Python Sprints is a non for profit group gathering coders who want to help improve open source projects using Python programming language.">
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <script src="{{ site.baseurl }}/static/js/on_load.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Share+Tech+Mono" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Encode+Sans+Expanded" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/static/css/main.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/icons/apple-touch-icon.png?v=ngkXqML5Y9">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/icons/favicon-32x32.png?v=ngkXqML5Y9">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/icons/favicon-16x16.png?v=ngkXqML5Y9">
    <link rel="manifest" href="/static/icons/site.webmanifest?v=ngkXqML5Y9">
    <link rel="mask-icon" href="/static/icons/safari-pinned-tab.svg?v=ngkXqML5Y9" color="#5bbad5">
    <link rel="shortcut icon" href="/static/icons/favicon.ico?v=ngkXqML5Y9">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <title>
        {% if page.title %}
           Python Sprints - {{ page.title }}
        {% else %}
            {{ site.title }}
        {% endif %}
    </title>
</head>
