{% include events_array_generator.html future_events = true %}
{% if posts.size > 0 %}
    {% assign upcoming_event = true %}
    {% assign post = posts | last %}

    {% if post.image %}
        {% assign image = post.image %}
    {% else %}
        {% assign image = "static/images/events/default_image_800x800px.jpeg" %}
    {% endif %}
{% endif %}
<style>
.upcoming__img-container {
    background-image: linear-gradient(to bottom right,
    rgba(255, 81, 107, 0.5),
    rgba(7, 41, 72, 0.3) 80%,
    rgba(0, 0, 0, 0.3) 100%),
    url("{{ site.baseurl }}/{{ image }}");
      }
</style>