{% comment %}
    This include is to easily pass an array to iterate over its items and
    a html layout to the generate 2 items per row look in the view.
    Parameters:
        - items_array:  (array) Array of objects we want to show.
        - inner_layout: (string) Path to the html inner layout.
{% endcomment %}

{% assign num_of_items = include.items_array | size %}
{% assign items_array_remainder = num_of_items | modulo: 2 %}

{% if items_array_remainder == 0 %}
    {% assign num_of_items_even = true %}
    {% assign row_num_modifier = 1 %}
{% else %}
    {% assign num_of_items_even = false %}
    {% assign row_num_modifier = 0 %}
{% endif %}

{% assign num_of_rows = num_of_items | divided_by: 2 | floor | minus: row_num_modifier %}
{% assign items_per_row = 1 %}

{% for row in (0..num_of_rows) %}
    {% if forloop.last and num_of_items_even == false %}
        {% assign items_per_row = 0 %}
    {% endif %}
    <div class="row">
        {% for col in (0..items_per_row) %}
            {% assign item_index = row | times: 2 | plus: col %}
            {% assign item = include.items_array[item_index] %}
            {% include {{ include.inner_layout }} item = item %}
        {% endfor %}
    </div>
{% endfor %}