---
# For front matter
---
.post {
  margin-top: -66px;
}

.post_img-container {
  background-size: cover;
  background-position: center center;
  height: 50vh;
  }

.post__title {
  padding-top: 10%;
  text-align: center;
  font-size: 3em;
  font-family: 'Encode Sans Expanded', sans-serif;
  color: antiquewhite;
}

.post__subtitle {
  padding-top: 1%;
  text-align: center;
  font-size: 1.5em;
  font-family: 'Encode Sans Expanded', sans-serif;
  color: #818181;
}

.post__img {
}

.post__content {
}

