.about {
  margin-top: -66px;
}

.about__background-img-container {
  @extend .page__background-img-container;
  &::after {
    background: rgba(0, 0, 0, 0.65);
  }
}

.about__background-img {
  @extend .page__background-img;
}

.about__page-title-container {
  @extend .page__title-container;
}

.about__page-title {
  @extend .page__title;
}

.about__page-subtitle {
  @extend .page__subtitle;
}

.about__container {
  max-width: 80%;
}

.about__title {
  @extend .title-dark;
  margin-top: 5%;
  font-size: 1.65em;
}

.about__paragraph-dark {
  @extend .paragraph-dark;
  padding-left: 0;
  padding-right: 0;
}