/*Colors In Use*/
/*aliceblue - site's background color, footer section titles*/
/*antiquewhite - title of images in events*/
/*#818181 - grey, full screen navigation links, not hovered*/
/*#F1F1F1 - pale white, full screen navigation links hovered*/
/*#072948 - dark blue, main titles*/
/*#7FA0C2 - light blue, some accents, footer links*/
/*#035E9A - strong blue, borders*/
/*#A55605 - orange-brown, hover in the footer*/

$light-white: #F0F8FF;
$old-white: #FAEBD7;
$bright-white: #F1F1F1;
$grey: #818181;
$light-blue: #7FA0C2;
$blue: #035E9A;
$dark-blue: #072948;
$very-dark-blue: #041729;
$orange: #A55605;
$black: #000000;

$main-background: #F0F8FF;
$section-background: #FFFFFF;
$background-dark: #072948;

$page-title: #FAEBD7;
$page-subtitle: #A55605;
$section-title-light: #F0F8FF;
$section-title-dark: #000000;
$title-light: #FAEBD7;
$title-dark: #000000;
$subtitle: #A55605;
$subtitle-event: #035E9A;
$paragraph-dark: #000000;
$paragraph-light: #F0F8FF;

$link: #035E9A;
$link-hover: #A55605;

$brand-name: #FAEBD7;
$nav-link: #818181;
$nav-link-hover: #F1F1F1;
$nav-active: #035E9A;
$nav-button-close: #818181;
$nav-button-close-hover: #F1F1F1;

$button-background: rgba(7, 41, 72, 0.6);
$button-text: #7FA0C2;
$button-border: #035E9A 1px solid;
$button-background-hover: rgba(0, 0, 0, 0.4);
$button-text-hover: #FAEBD7;
$button-border-hover: #A55605 1px solid;

$footer-link: #7FA0C2;
$footer-text: #7FA0C2;
$footer-title: #F0F8FF;
$footer-background: #072948;

$form-label-text: #FAEBD7;

$event-background: rgba(7, 41, 72, 0.95);

$black-shadow: black 2px 2px 2px 0px;