.button-standard {
  font-size: 1.5em;
  font-family: 'Playfair Display', serif;
  background: $button-background;
  color: $button-text;
  border: $button-border;
  min-width: 6em;
  transition: all 0.5s ease-in-out;
  &:hover {
    color: $button-text-hover;
    background: $button-background-hover;
    border: $button-border-hover;
  }
}

.button-minimal {
  font-size: 1.5em;
  font-family: 'Playfair Display', serif;
  background: transparent;
  color: $black;
  border: $black 1px solid;
  min-width: 6em;
  &:hover > * {
    color: $orange;
  }
}

.button-minimal > *{
    transition: all 0.5s ease-in-out;
  }