.contact {
  margin-top: -66px;
}

.contact__background-img {
  min-height: 55vh;
}

.contact .contact__title {
  color: antiquewhite;
}

.contact__subtitle {
  font-size: 1.5em;
  text-align: center;
  font-family: 'Playfair Display', serif;
  color: #A55605;
}

.contact__form {
  margin-top: 5%;
}