.contact {
  margin-top: -66px;
}

.contact__background-img {
  height: 55vh;
}

.contact__page-title-container {
  @extend .page__title-container;
}

.contact__page-title {
  @extend .page__title;
}

.contact__page-subtitle {
  @extend .page__subtitle;
}

@media (max-width: 576px) {
  .contact__form {
      max-width: 96%;
  }
}

.contact__form {
  margin-top: 5em;
  border-radius: 5px;
  background: linear-gradient(180deg,
  rgba(0, 0, 0, 0.75),
  rgba(7, 41, 72, 0.85) 50%,
  $dark-blue 100%);
  height: 100%;
}

.contact__label {
  color: $form-label-text;
}

.form-group {
  margin-top: 2em;
  margin-bottom: 0;
}

.form-control {
  background: rgba(0, 0, 0, 0.5);
  &:focus {
    background: rgba(250, 235, 215, 0.5);
    color: black;
  }
}

.contact__submit-button {
  @extend .button-standard;
  margin-top: 2em;
  font-size: 1.25em;
  &:hover > .contact__icon {
    color: $old-white;
  }
}

.contact__icon {
  transition: all 0.5s ease-in;
  margin-left: 5%;
  color: $light-blue;
}