.events-page {
  margin-top: -66px;
}

.events-page__background-img {
  @extend .contact__background-img
}

.events-page__page-title {
  @extend .page-title-light;
}

.events-page__page-subtitle {
  @extend .page-subtitle
}

.events-page__upcoming-section-title {
  @extend .section-title;
}

.events-page__recent-section-title {
  @extend .section-title;
}

.events-page__outer-container {
  max-width: 80vw;
}

.events-page__event-container {
  background: $event-background;
  min-height: 30vh;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  border-radius: 5px;
}

.events-page__event-img {
  float: left;
  max-width: 30%;
  padding: 1%;

}

.events-page__event-title {
  @extend .title-light;
  font-size: 1.5em;
  padding: 1%;

}
