.post {
  margin-top: -66px;
}

.post__img-container {
  background-size: cover;
  background-position: center center;
  height: 65vh;
  }

.post__title {
  padding-top: 25vh;
  text-align: center;
  font-size: 3em;
  font-family: 'Encode Sans Expanded', sans-serif;
  color: antiquewhite;
  }
.post__subtitle {
  padding-top: 1%;
  text-align: center;
  font-size: 1.5em;
  font-family: 'Encode Sans Expanded', sans-serif;
  color: #818181;
  }

.post__event-col {
  padding-top: 2%;
  padding-left: 2%;
  padding-right: 2%;
  background: rgb(0, 0, 0);
  }

.post__label {
  font-family: 'Encode Sans Expanded', sans-serif;
  background: linear-gradient(45deg, #818181, #818181 80%, transparent 80%,  transparent 100%);
  font-size: 1.25em;
  color: #072948;
  border-top-left-radius: 5px;
  padding-left: 0.25em;
  padding-right: 0.25em;
  margin-top: 0.5em;
  margin-bottom: 0;
  min-width: 5em;
}

.post__event-title {
  background: rgba(7, 41, 72, 0.52);
  border: #072948 2px ridge;
  font-size: 1.25em;
  font-family: 'Encode Sans Expanded', sans-serif;
  color: antiquewhite;
  padding-left: 0.25em;
  margin-right: 0.25em;
  border-radius: 0 5px 5px 5px;
  }

.post__button-col {
  margin-top: 4%;
  margin-bottom: 2%;
  text-align: center;
}

.post__button {
  min-width: 10em;
  font-size: 1.25em;
  font-family: 'Playfair Display', serif;
  text-align: center;
  background: #072948;
  border: #035E9A 2px ridge;
  transition: all 0.5s ease-in;
  &:hover {
    text-align: center;
    background: rgba(7, 41, 72, 0.53);
    border: #A55605 2px ridge;
  }
}

.post__icon {
  text-align: center;
  color: #7FA0C2;
  font-size: 1.5em;
  transition: all 0.5s ease-in;
  min-width: 100%;
  min-height: 100%;
}

.post__content {
  padding-left: 10%;
  padding-right: 10%;
}

.post__content-title {
  margin-top: 5%;
  margin-bottom: 2.5%;
  font-size: 2em;
  font-family: 'Encode Sans Expanded', sans-serif;
  color: #072948;
}

.post__sponsor-col {
  padding-left: 10%;
  padding-right: 10%;

}

.post__paragraph {
}

.post__divider {
  margin-top: 5%;
  border-top: #072948 2px ridge;
  width: 10%;
}

.post__sponsor-container {
  background: #041729;
  border-radius: 5px;
  border: #7fa0c2 1px solid;
  text-align: center;
}

.post__sponsor-link {
  line-height: 102px;
  width: 278px;
  height: 102px;
}

.post__sponsor-img {
  vertical-align: middle;
}

.post__sponsor-name {
  margin-top: 0.25em;
  line-height: 1em;
  text-align: center;
  font-family: 'Encode Sans Expanded', sans-serif;
  font-size: 1.25em;
  color: #072948;
}