.post {
  margin-top: -66px;
}

.post__img-container {
  background-size: cover;
  background-position: center center;
  min-height: 100%;
  }

.post__title {
  @extend .title-light;
  word-break: break-all;
  padding-top: 15vh;
  text-align: center;
  font-size: 3em;
  }
.post__subtitle {
  @extend .subtitle;
  padding-top: 1%;
  text-align: center;
  font-size: 1.25em;
  }

.post__event-col {
  padding-top: 2%;
  padding-left: 2%;
  padding-right: 2%;
  background: rgb(0, 0, 0);
  }

.post__label {
  @extend .event-label;
}

.post__event-title {
  @extend .event-title;
  }

.post__button-col {
  margin-bottom: 1em;
  text-align: center;
}

.post__button {
  @extend .button-standard;
  min-width: 75%;
  font-size: 1.5em;
  margin: 1em auto 0 auto;
  &:hover > .post__icon {
    color: $button-text-hover;
  }
}

.post__button-solo {
  @extend .button-standard;
  min-width: 50%;
  font-size: 1.5em;
  margin: 1em auto 0 auto;
  &:hover > .post__icon {
    color: $button-text-hover;
  }
}

.post__icon {
  text-align: center;
  color: $button-text;
  font-size: 1.5em;
  transition: all 0.5s ease-in;
  min-width: 100%;
  min-height: 100%;
}

@media (min-width: 768px) {
  .post__button {
    font-size: 1.25em;
    min-width: 100%;
  }
  .post__icon {
    font-size: 1.25em;
  }
}

.post__content {
  padding-left: 10%;
  padding-right: 10%;
}

.post__content-title {
  @extend .title-dark;
  margin-top: 5%;
  margin-bottom: 2.5%;
  font-size: 2em;
}

.post__sponsor-col {
  padding-left: 10%;
  padding-right: 10%;
}

@media (min-width: 576px) {
  .post__logo-col {
    min-width: 160px;
    max-width: 160px;
  }
}

@media (min-width: 992px) {
  .post__logo-col {
    min-width: 308px;
    max-width: 308px;
  }
}

@media (min-width: 576px) {
  .post__sponsor-info-col {
    width: calc(100% - 160px);
  }
}

@media (min-width: 992px) {
  .post__sponsor-info-col {
    width: calc(100% - 308px);
  }
}

.post__paragraph {
}

.post__divider {
  margin-top: 5%;
  border-top: $dark-blue 2px ridge;
  width: 10%;
}

.post__sponsor-name {
  @extend .title-dark;
  margin-top: 0.5em;
  line-height: 1em;
  text-align: center;
  font-size: 1.25em;
}

.post__sponsor-link {
  display: inline-block;
  width: 100%;
  background: $very-dark-blue;
  border-radius: 5px;
  border: $light-blue 1px solid;
  text-align: center;
  line-height: 102px;
}

.post__sponsor-img {
  vertical-align: middle;
  padding: 10px;
  max-width: 220px;
}

@media (min-width: 577px) {
  .post__sponsor-img {
    max-width: 120px;
  }
}

@media (min-width: 992px) {
  .post__sponsor-img {
    max-width: 100%;
  }
}

.post__sponsor-content {
  margin-top: 1.6em;
}