//Global styles here.

.body {
  background-color: $main-background;
  overflow-x: hidden;
  /*Here I need to move the background image to slide under the navigation*/
  /*Any smarter solutions are welcome!*/
  margin-top: -66px;

}

.no-scroll {
  overflow: hidden;
}

a {
  color: $link;
  text-decoration: none !important;
  transition: all 0.5s ease-in-out;
  &:hover {
    color: $link-hover!important;
  }
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.no-padding-x {
  padding-left: 0;
  padding-right: 0;
}

.with-padding-x {
  padding-left: 15px;
  padding-right: 15px;
}

.page__background-img-container {
  position: relative;
  &::after {
    width: 100vw;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

@media (max-height: 400px) and (orientation: landscape){
  .page__background-img {
    min-height: 250px;
    width: 100%;
  }
}

.page__title-container {
  z-index: 2;
  position: absolute;
  top: 50%;
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}


/* Classes to change order of collapsed columns on mobiles*/
@media (max-width: 767px) {
  .first-on-mobile {
    -webkit-order: 1;
    order: 1;
  }

  .second-on-mobile {
    -webkit-order: 2;
    order: 2;
  }

  .third-on-mobile {
    -webkit-order: 3;
    order: 3;
  }

  .fourth-on-mobile {
    -webkit-order: 4;
    order: 4;
  }
}


.navigation__content {
  @extend .page__background-img-container;
  &::after {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.45) 0%, rgba(0, 0, 0, 0.8) 100%);
  }
}

.navigation__background-img {
  height: calc(100vh + 2px);
  width: 100%;
}

.navigation__brand {
  position: relative;
  background-color: rgba(0, 0, 0, 0.2);
  border: rgba(0, 0, 0, 0.2) 1px solid;
  border-radius: 6px;
}

.navigation__brand-link {
  width: 100%;
}

.navigation__brand-img {
  width: 6em;
  padding-left: 0.5em;
}

@media (min-width: 768px) {
  .navigation__brand-img {
  width: 10em;
  }
}

.navigation__button-open-container {
  border: black 1px solid;
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
  transition: all 0.5s;
}

.navigation__button-open-container:hover {
  background-color: rgba(7, 41, 72, 0.7);
}

.navigation__title-container {
  @extend .page__title-container;
}

.navigation__site-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

@media (orientation: portrait) {
  .navigation__site-logo {
    width: 80%;
  }
}

.navigation__title {
  @extend .page__title;
}


.navigation__subtitle {
  @extend .page__subtitle;
}

.navigation__button-close {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

.navigation__hamburger-bar {
  width: 2em;
  height: 0.20em;
  background-color: #ffffff;
  margin: 0.3em 0.4em;
  transition: all 0.5s;
}

.navigation__overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.navigation__overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

@media screen and (max-width: 767px) and (orientation: landscape) {
  .navigation__overlay-content {
    top: 15%;
  }
}

.navigation__link {
  text-decoration: none;
  font-size: 2em;
  font-family: 'Encode Sans Expanded', sans-serif;
  color: $nav-link;
  display: block;
  transition: all 0.5s ease-in-out;
}

@media (max-width: 767px) and (orientation: landscape) {
  padding: 0;
}

@media (min-width: 768px), (orientation: portrait) {
  .navigation__link {
    padding: 0.25em;
  }
}

.navigation__link:hover {
  color: $nav-link-hover!important;
}

.active {
  color: $nav-active!important;
}

.navigation__button-close-container {
  display: none;
  z-index: 1010;
}

.navigation__button-close {
  margin-right: 0.25em;
  font-size: 1.3em;
  color: $nav-button-close;
  transition: all 0.3s;
}

.navigation__button-close:hover, .navigation__button-close:focus {
  color: $nav-button-close-hover;
}

.mission__statement {
  font-size: 1.1em;
  text-align: center;
  font-family: 'Playfair Display', serif;
}

.upcoming {
  margin-left: 2%;
  margin-right: 2%;
}

@media (min-width: 768px) {
  .upcoming {
  margin-left: 10%;
  margin-right: 10%;
  }
}

.upcoming-divider {
  border-bottom: rgba(127, 160, 194, 0.35) 1px solid;
  width: 20%;
  margin: 10% auto 10%;
}

.upcoming__col {
  background: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  border: #000000 2px groove;
  box-shadow: rgba(0, 0, 0, 0.76) 5px 5px 5px 0;
  min-height: 100%;
  margin-top: 1em;
}

@media (min-width: 768px) {
  .upcoming__col {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }
}

.upcoming__title {
  @extend .section-title;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  font-size: 2.5em;
  color: $title-light;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom: rgba(250, 235, 215, 0.85) 1px solid;
}

.upcoming__event-label {
  @extend .event-label;
}

.upcoming__event-title {
  @extend .event-title;
  background: rgba(7, 41, 72, 0.7);
  margin-bottom: 0.5em;
}

.upcoming__sponsor-col {
  background: rgba(7, 41, 72, 0.52);
  border: $dark-blue 2px groove;
  border-radius: 0 5px 5px 5px;
  margin-bottom: 1em;
}

.upcoming__img-container {
  background-size: cover;
  background-position: center center;
  border-radius: 20px;
  border-top: $orange 3px solid;
  border-bottom: $orange 3px solid;
  min-height: 50vh;
}

.upcoming__content {
  margin-top: 5.5%;
}

.upcoming__project-logo {
  margin: 0.5em;
  border: $orange 3px double;
  border-radius: 5px;
  max-width: 50%;
}

.upcoming__button-row {
  margin-top: 10%;
  margin-bottom: 10%;
}

@media (min-width: 768px) {
  .upcoming__button-row {
    margin-top: 5.5%;
    margin-bottom: 5.5%;
  }
}

.upcoming__link {
}

.events {
  margin-top: 15%;
  background: $background-dark;
  border-bottom: $dark-blue 1px solid;
}

.events .section-title {
  color: $section-title-light;
  margin-bottom: 5%;
}

.events__img {
  border: $dark-blue 1px solid;
  width: 100%;
}

.events__title-container {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.events__img-title {
  color: $title-light;
  text-align: left;
  font-size: 1.5em;
  margin-left: 2%;
  padding-top: 5%;
  padding-bottom: 1%;
  border-bottom: 0.5pt solid $blue;
}

.events__img-subtitle {
  color: $subtitle-event;
  text-align: left;
  font-size: 1em;
  margin-top: 0;
  padding-left: 2%;
  margin-bottom: 2%;
}

.events__spacer {
}

.events__img-container {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.events__img-container .events__link {
  position: absolute;
  color: $link;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}

.events__img-container .events__img-overlay {
  opacity: 0;
  position: absolute;
  border: $dark-blue 1px solid;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -ms-transition: opacity .5s ease-in-out;
  -o-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out;
  z-index: 1;
}

.events__img-container:hover .events__img-overlay {
  opacity: 1;
}

.events__img {
  transition: all 0.5s ease-in-out;
}

.events__img-container:hover > .events__img {
  -webkit-transform: scale(1.05);
}

.events__icon {
  font-size: 3em;
  position: relative;
  top: 50%;
  left: 50%;
}

.services {
  margin-top: 10%;
  padding-left: 10vw;
  padding-right: 10vw;
}

@media (max-width: 1650px) {
  .services {
    padding-left: 0;
    padding-right: 0;
  }
}

.services__section-title {
  @extend .section-title;
  margin-bottom: 8%;
}

.no-gutters__col {
  padding-left: 0;
  padding-right: 0;
}

.services__divider {
  width: 50%;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 1%;
  padding-bottom: 1%;
}

.services__divider-right {
  @extend .services__divider;
  margin-right: 5%;
}

.services__divider-left {
  @extend .services__divider;
  margin-left: 5%;
}

.services__img {
  width: 100%;
}

@media (max-width: 767px) {
  .services__img {
    margin-bottom: 10%;
  }
}

.services__title {
  @extend .title-dark;
  font-size: 1.65em;
  padding-left: 5%;
  padding-right: 5%;
  margin-top: 1%;
  margin-bottom: 2.5%;
}

.services__content {
  @extend .paragraph-dark;
  margin-top: 0;
}

@media (min-width: 768px) {
  .services__title {
    margin-top: 2%;
    font-size: 1.33em;
  }
  .services__content {
    font-size: 0.95em;
  }
}

@media (min-width: 800px) {
  .services__title {
    margin-top: 5%;
  }
}

@media (min-width: 1228px) {
  .services__divider-left {
    margin-left: 10%;
  }
  .services__divider-right {
    margin-right: 10%;
  }
  .services__title {
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 10%;
  }
  .services__content {
    padding-left: 10%;
    padding-right: 10%;
  }
}

.footer {
  margin-top: 5em;
  background: $footer-background;
  border-top: $light-blue 1px solid;
}

.footer__content {
  padding-top: 5%;
  text-align: center;
}

.footer__sponsor-col {
  text-align: center;
  padding-left: 0;
  padding-right: 0;
}

.footer__icon {
  font-size: 1.5em;
  margin: 0.25em;
  color: $footer-link;
  transition: all 0.5s;
  &:hover {
    color: $link-hover;
  }
}

.footer__text-copyright {
  @extend .footer-font;
  text-align: center;
  font-size: 2em;
  color: $footer-text;
}

.footer__section-title {
  @extend .footer-font;
  font-size: 1.5em;
  color: $footer-title;
  margin-top: 1em;
}

.footer__sponsor-link {
  background: $very-dark-blue;
  border-radius: 5px;
  border: $light-blue 1px solid;
  text-align: center;
  display: inline-block;
  line-height: 102px;
  vertical-align: middle;
  margin: 0.5em 1% 0.5em 1%;
  width: 75%;
  height: 102px;
  &:hover > .footer__img {
    filter: none;
    -webkit-filter: grayscale(0);
    -webkit-transform: scale(1.05);
  }
}

.footer__img {
  padding: 10px;
  max-width: 100%;
  filter: gray;
  -webkit-filter: grayscale(1);
  transition: filter, .8s ease-in-out;
}

.footer__link {
  @extend .footer-font;
  font-size: 1.25em;
  color: $footer-link;
  margin-top: 2%;
}

.footer__brand-img {
  width: 8em;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.footer__divider {
  border-bottom: rgba(127, 160, 194, 0.35) 2px solid;
  width: 30%;
  margin-top: 1%;
  margin-bottom: 3%;
}

.footer__navigation-list {
  list-style-type: none;
  padding-left: 0;
}