/*Colors In Use*/
/*aliceblue - site's background color, footer section titles*/
/*#818181 - grey, full screen navigation links, not hovered*/
/*#F1F1F1 - pale white, full screen navigation links hovered*/
/*#072948 - dark blue, main titles*/
/*#7FA0C2 - light blue, some accents, footer links*/
/*#035E9A - strong blue, borders*/
/*#A55605 - orange-brown, hover in the footer*/
/*antiquewhite - title of images in events*/
.body {
  background-color: aliceblue;
  overflow-x: hidden;
}

a {
  color: #035E9A;
  text-decoration: none !important;
  transition: all 0.5s ease-in-out;
  &:hover {
    color: #A55605;
  }
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

/* Classes to change order of collapsed columns on mobiles*/
@media (max-width: 767px) {
  .first-on-mobile {
    -webkit-order: 1;
    order: 1;
  }

  .second-on-mobile {
    -webkit-order: 2;
    order: 2;
  }

  .third-on-mobile {
    -webkit-order: 3;
    order: 3;
  }

  .fourth-on-mobile {
    -webkit-order: 4;
    order: 4;
  }
}

/* Responsive background image handling*/
[data-image-type="responsive"] {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
}

[data-image-type="responsive"] .responsive {
  display: none;
}

/*Here I need to move the background image to slide under the navigation*/
/*Any smarter solutions are welcome!*/
.navigation__content {
  margin-top: -66px;
  background-size: cover;
  max-width: 100vw;
  height: 101vh;
}

.navigation__brand {
  background-color: rgba(0, 0, 0, 0.2);
  border: rgba(0, 0, 0, 0.2) 1px solid;
  border-radius: 6px;
}

.navigation__brand-name {
  font-size: 0.8em;
  color: #ffffff;
  font-family: 'Share Tech Mono', monospace;
}

@media (min-width: 450px) {
  .navigation__brand-name {
    font-size: 1.2em;
  }
}

.navigation__brand-img {
  width: 2em;
  padding-left: 0.5em;
}

.navigation__button-open-container {
  border: black 1px solid;
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
  transition: all 0.5s;
}

.navigation__button-open-container:hover {
  background-color: rgba(7, 41, 72, 0.7);
}

.navigation__title, .navigation__subtitle, .navigation__button-close {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

.navigation__title {
  font-family: 'Share Tech Mono', monospace;
  color: #ffffff;
  font-size: 3.5em;
  margin-top: 40vh;
  text-align: center;
}

.navigation__subtitle {
  font-size: 1.16em;
  font-family: 'Share Tech Mono', monospace;
  color: #818181;
  text-align: center;
  margin-bottom: 50%;
}

@media (min-width: 450px) {
  .navigation__title {
    font-size: 4.3em;
    margin-top: 40vh;
  }
  .navigation__subtitle {
    font-size: 1.43em;
  }
}

@media (min-width: 650px) {
  .navigation__title {
    font-size: 5em;
    margin-top: 40vh;
  }
  .navigation__subtitle {
    font-size: 1.66em;
  }
}

@media (min-width: 1200px) {
  .navigation__title {
    font-size: 6em;
    margin-top: 40vh;
  }
  .navigation__subtitle {
    font-size: 2em;
  }
}

.navigation__hamburger-bar {
  width: 2em;
  height: 0.20em;
  background-color: #ffffff;
  margin: 0.3em 0.4em;
  transition: all 0.5s;
}

.navigation__overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  /*transition: 0.3s;*/
}

.navigation__overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

@media screen and (max-width: 850px) and (orientation: landscape) {
  .navigation__overlay-content {
    top: 15%;
  }
}

.navigation__overlay .navigation__link {
  padding: 0.25em;
  text-decoration: none;
  font-size: 2em;
  font-family: 'Encode Sans Expanded', sans-serif;
  color: #818181;
  display: block;
  transition: 0.4s;
}

.navigation__link:hover {
  color: #f1f1f1;
}

.navigation__link:focus {
  color: #035e9a;
}

.navigation__button-close-container {
  display: none;
  z-index: 1010;
}

.navigation__button-close {
  margin-right: 0.25em;
  font-size: 1.3em;
  color: #818181;
  transition: all 0.3s;
}

.navigation__button-close:hover, .navigation__button-close:focus {
  color: #f1f1f1;
}

.section-title {
  font-size: 2.5em;
  color: #072948;
  text-align: center;
  font-family: 'Encode Sans Expanded', sans-serif;
  margin-top: 5%;
  margin-bottom: 2.5%;
}

@media (min-width: 376px) {
  .section-title {
    font-size: 3em;
  }
}

@media (min-width: 500px) {
  .section-title {
    font-size: 4em;
  }
}

.mission__statement {
  font-size: 1.1em;
  text-align: center;
  font-family: 'Playfair Display', serif;
}

.upcoming {
  margin-left: 5%;
  margin-right: 5%;
}

.upcoming-divider {
  border-bottom: rgba(127, 160, 194, 0.35) 1px solid;
  width: 20%;
  margin: 10% auto 10%;
}

.upcoming__col {
  padding-right: 5%;
}

.upcoming-title {
  font-size: 2.5em;
  color: #072948;
  text-align: left;
  font-family: 'Encode Sans Expanded', sans-serif;
  margin-bottom: 2.5%;
}

.upcoming__event-title {
  background: rgba(7, 41, 72, 0.7);
  border: #072948 2px ridge;
  font-size: 1.25em;
  font-family: 'Encode Sans Expanded', sans-serif;
  color: antiquewhite;
  padding-left: 0.25em;
  margin-right: 0.25em;
  border-radius: 0 5px 5px 5px;
}

.upcoming__img-container {
  -webkit-clip-path: polygon(85% 0, 100% 13%, 100% 100%, 15% 100%, 0 86%, 0 0);
  clip-path: polygon(85% 0, 100% 13%, 100% 100%, 15% 100%, 0 86%, 0 0);
  background-size: cover;
  background-position: center center;
  padding-left: 0;
  padding-right: 0;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top: #A55605 3px solid;
  border-bottom: #A55605 3px solid;
}

.upcoming__project-logo {
  margin-top: 2.5%;
  margin-left: 2.5%;
  border: #A55605 3px double;
  border-radius: 5px;
  max-width: 70%;
}

.upcoming__link {
  max-width: 50%;
}

.events {
  margin-top: 15%;
  background: #072948;
  border-bottom: #072948 1px solid;
}

.events .section-title {
  color: #f1f1f1;
  margin-bottom: 5%;
}

.events__img {
  border: #072948 1px solid;
  width: 100%;
}

.events__title-container {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.events__img-title {
  color: antiquewhite;
  text-align: left;
  font-size: 1.5em;
  margin-left: 2%;
  padding-top: 5%;
  padding-bottom: 1%;
  border-bottom: 0.5pt solid #035e9a;
}

.events__img-subtitle {
  color: #035e9a;
  text-align: left;
  font-size: 1em;
  margin-top: 0;
  padding-left: 2%;
  margin-bottom: 2%;
}

.events__spacer {
}

.events__img-container {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.events__img-container .events__link {
  position: absolute;
  color: antiquewhite;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}

.events__img-container .events__img-overlay {
  opacity: 0;
  position: absolute;
  border: #072948 1px solid;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -ms-transition: opacity .5s ease-in-out;
  -o-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out;
  z-index: 1;
}

.events__img-container:hover .events__img-overlay {
  opacity: 1;
}

.events__img {
  transition: all 0.5s ease-in-out;
}

.events__img-container:hover > .events__img {
  -webkit-transform: scale(1.05);
}

.events__icon {
  font-size: 2em;
  position: relative;
  top: 50%;
  left: 50%;
}

.services {
  margin-top: 10%;
  padding-left: 10vw;
  padding-right: 10vw;
}

@media (max-width: 1650px) {
  .services {
    padding-left: 0;
    padding-right: 0;
  }
}

.services .section-title {
  margin-bottom: 8%;
}

.no-gutters__col {
  padding-left: 0;
  padding-right: 0;
}

.services__divider-right {
  width: 50%;
  margin-right: 5%;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 1%;
  padding-bottom: 1%;
}

.services__divider-left {
  width: 50%;
  margin-left: 5%;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 1%;
  padding-bottom: 1%;
}

.services__img {
  width: 100%;
}

@media (max-width: 767px) {
  .services__img {
    margin-bottom: 10%;
  }
}

.services__title {
  font-family: 'Encode Sans Expanded', sans-serif;
  color: #072948;
  font-size: 1.65em;
  padding-left: 5%;
  padding-right: 5%;
  margin-top: 1%;
  margin-bottom: 2.5%;
}

.services__content {
  font-size: 1em;
  text-align: center;
  font-family: 'Playfair Display', serif;
  padding-left: 5%;
  padding-right: 5%;
}

@media (min-width: 768px) {
  .services__title {
    margin-top: 2%;
    font-size: 1.33em;
  }
  .services__content {
    font-size: 0.95em;
  }
}

@media (min-width: 800px) {
  .services__title {
    margin-top: 5%;
  }
}

@media (min-width: 1228px) {
  .services__divider-left {
    margin-left: 10%;
  }
  .services__divider-right {
    margin-right: 10%;
  }
  .services__title {
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 10%;
  }
  .services__content {
    padding-left: 10%;
    padding-right: 10%;
  }
}

.footer {
  margin-top: 10%;
  padding-top: 2.5%;
  background: #072948;
  border-top: #7fa0c2 1px solid;
}

.footer__content {
  padding-top: 5%;
  text-align: center;
}

.footer__sponsor-col {
  text-align: center;
}

.footer__icon {
  font-size: 1.5em;
  margin: 0.25em;
  color: #7fa0c2;
  transition: all 0.5s;
  &:hover {
    color: #A55605;
  }
}

.footer__text-copyright {
  font-size: 1.5em;
  color: #7fa0c2;
  font-family: 'Playfair Display', serif;

}

.footer__section-title {
  color: aliceblue;
  font-size: 1.5em;
  text-align: center;
  font-family: 'Playfair Display', serif;
}

.footer__sponsor-link {
  background: #041729;
  border-radius: 5px;
  border: #7fa0c2 1px solid;
  text-align: center;
  display: inline-block;
  line-height: 102px;
  vertical-align: middle;
  margin: 1%;
  width: 75%;
  height: 102px;
  &:hover > .footer__img {
    filter: none;
    -webkit-filter: grayscale(0);
    -webkit-transform: scale(1.05);
  }
}

.footer__img {
  padding: 10px;
  max-width: 100%;
  filter: gray;
  -webkit-filter: grayscale(1);
  transition: filter, .8s ease-in-out;
}

.footer__link {
  margin-top: 2%;
  text-align: center;
  font-size: 1.25em;
  font-family: 'Playfair Display', serif;
  color: #7fa0c2;
  display: block;
}

.footer__brand-img {
  width: 2em;
}

.footer__divider {
  border-bottom: rgba(127, 160, 194, 0.35) 2px solid;
  width: 30%;
  margin-top: 1%;
  margin-bottom: 3%;
}