<!DOCTYPE html>
<html lang="en">
{% include head.html %}
    <body class="body">
        {% include navigation.html %}
        <main>
            <article>
                {{ content }}
                <div class="chapter-container container-fluid">
                    <div class="row">
                        {% include events_array_generator.html future_events=true category=page.category %}
                        {% if posts.size > 0 %}
                            {% assign upcoming_event = true %}
                            {% assign posts = posts | reverse %}
                        {% endif %}
                        {% if upcoming_event == true %}
                            <div class="col-12 no-padding-x">
                                <section class="chapter">
                                    <div class="row container-fluid">
                                        <div class="col-md-12 no-padding-x">
                                            <h2 class="upcoming__title">Events</h2>
                                        </div>
                                    </div>
                                    <div class="upcoming__content row">
                                        {% assign current_date = "" %}
                                        {% for post in posts %}
                                            {% include event_layout.html event=post %}
                                        {% endfor %}
                                    </div>
                                </section>
                            </div>
                        {% endif %}
                    </div>
                    <div class="row">
                        {% include events_array_generator.html category=page.category %}
                        {% if posts.size > 0 %}
                            <div class="col-12 no-padding-x">
                                <section class="chapter">
                                    <div class="row container-fluid">
                                        <div class="col-md-12 no-padding-x">
                                            <h2 class="upcoming__title">Recent Events</h2>
                                        </div>
                                    </div>
                                    <div class="upcoming__content row">
                                        {% assign current_date = "" %}
                                        {% for post in posts %}
                                            {% include event_layout.html event=post %}
                                        {% endfor %}
                                    </div>
                                </section>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </article>
            {% include footer.html %}
        </main>
        {% include scripts.html %}
    </body>
</html>
