<!DOCTYPE html>
{% include head.html %}
{% if page.image %}
    {% assign image = page.image %}
{% else %}
    {% assign image = "static/images/events/default_image_800x800px.jpeg" %}
{% endif %}
{% include get_host_sponsor.html event = page %}
{% include get_project.html event = page %}
<html lang="en">
    <body class="body">
        {% include navigation.html %}
        <main>
            <article class="post">
                <div class="container-fluid">
                    <div class="row">
                        <div class="post__content col-12">
                            {% if project.logo %}
                                <img class="post__project-logo" src="{{ site.baseurl }}/{{ project.logo }}">
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="post__content col-md-8">
                            <h1 class="post__content-title">{{ page.title }}</h1>
                            <h2 class="post__title">Level: {{ page.level }}</h2>
                            <hr>
                            <p class="post__paragraph">{{ project.content }}</p>
                            <p class="post_paragraph">More information about {{ project.name }}: <a href="{{ project.website }}">{{ project.website }}</a></p>
                            <p class="post__paragraph">{{ page.content }}</p>
                            <hr>
                            {% if project.setup_html %}
                                <h2 class="post__address-title">Set up instructions</h2>
                                {{ project.setup_html }}
                            {% endif %}
                        </div>
                        <div class="post__info col-md-4">
                            <h1 class="post__content-title">Location</h1>
                            <p class="post__address-title">{{ sponsor.name }}</p>
                            <a class="post__sponsor-container post__sponsor-link" href="{{ host_sponsor.link }}">
                                <img class="post__sponsor-img"
                                     src="{{ site.baseurl }}/{{ sponsor.logo }}"
                                alt="Sponsor logo">
                            </a>
                            <p class="post__address">{{ page.date | date: "%e %B %Y" }}, {{ page.time }}</p>
                            <p class="post__address">{{ sponsor.address }}</p>
                            <div id="chapters__map"></div>
                            {% comment %}
                                Create a javascript variable for use in the function adding map markers.
                            {% endcomment %}
                            {% assign locations = "" | split: ',' %}
                            {% assign location = page %}
                            {% assign locations = locations | push: location %}
                            {% include locations_variable_generator.html locations_array = locations %}
                            <script async defer
                              src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB0NCzoIqGkYFdpRl-LmgWTKpxPBkqxxO0&callback=initMap">
                            </script>
                        </div>
                    </div>
                </div>
            </article>
            {% include footer.html %}
        </main>
        {% include scripts.html %}
    </body>
</html>
